<!DOCTYPE html>
<html>
<head lang="en">
    <title>{{ page.title }}</title>
    <meta name="description" content="逼格邮报，提升逼格。">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        body{
            width: 96%;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="page-header">
    <h1>逼格邮报 <small>从细节提升你的逼格</small></h1>
</div>

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">首页</a></li>
    <li role="presentation"><a href="pic" target="_blank"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;照片墙</a></li>
    <li role="presentation"><a href="video" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;&nbsp;视频</a></li>
    <li role="presentation"><a href="about"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;联系我们</a></li>
</ul>

{{ content }}

<div class="row">
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4">Copyright &copy;
        <script>document.write(new Date().getFullYear());</script>
        <a href="http://www.biggerdaily.com/" target="_blank">逼格邮报</a></a> All Rights Reserved.
        <img src="http://img.users.51.la/17772072.asp" style="display:none" /></div>
    <div class="col-xs-6 col-md-4"></div>
</div>
</body>
</html>