<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="逼格邮报，提升逼格。">
    <meta name="viewport" content="initial-scale=2.0,maximum-scale=1,user-scalable=no">
    <meta property="author" content="codetyphon"/>
    <meta name="twitter:site" content="@codetyphon"/>
</head>
<body>
  <div class="header full">
    <div class="nav wrap">
      <div class="logo"><h1>逼格邮报</h1></div>
      <div class="menu_items">
        <div class="menu_item">首页</div>
        <div class="menu_item">好书</div>
        <div class="menu_item">好站</div>
        <div class="menu_item">好应用</div>
        <div class="menu_item">好公号</div>
        <div class="menu_item">榜样</div>
        <div class="menu_item">关于</div>
      </div>
    </div>
  </div>
  <div class="main wrap">
      {{ content }}
  </div>
  <div class="footer full">
    <div class="copy wrap">
        Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            <a href="http://www.biggerdaily.com/" target="_blank">逼格邮报</a></a> All Rights Reserved.
            <img src="http://img.users.51.la/17772072.asp" style="display:none" />
    </div>
  </div>
</body>
</html>
